{% extends "base.html" %}
{% block content %}
<div class="container">
    {% if my_bookings %}
    <h1 class="text-center">My Bookings</h1>
    {% else %}
    <h1 class="text-center">Bookings</h1>
    {% endif %}
    <div class="row">

        {% for booking in bookings %}

        <div class="col-sm-4 col-lg-12 mt-2">
            <div class="col-sm-4 col-lg-12 mt-2 mb-2">
                <div class="m-0 row row-container bg-white p-3">
                    <div class="col-md-3 col-lg-2 p-0 pl-lg-2">
                        <h5>{{ booking.class_type }}</h5>
                    </div>
                    <div class="col-sm-12 col-lg-3  p-0 p-0 pl-lg-5">
                        <h5 class="">{{ booking.departure_location }}</h5>
                        <h6>{{ booking.departure_time }}</h6>
                    </div>
                    <div class="col-sm-12 col-lg-3 p-0 p-0 pl-lg-5">
                        <h5>{{ booking.arrival_location }}</h5>
                        <h6>{{ booking.arrival_time }}</h6>
                    </div>
                    <div class="col-sm-12 col-lg-3 p-0 p-0 pl-lg-5 d-flex">
                        <span class="spn-price ">from</span>
                        <div class="">

                            <h6>{{ booking.discounted_cost }}</h6>

                            <span class="spn-price" style="text-decoration: line-through;">{{ booking.cost }}</span>
                        </div>
                        {% if my_bookings %}
                        <a href="{{ url_for('GenerateReport.generate_report', booking_id=booking.booking_id) }}"
                            class="btn btn-sm btn-primary">Download</a>

                        {% else %}
                        <form method="POST" action="{{ url_for('BookingRouter.create_booking') }}">
                            <input type="hidden" name="class_type_id" value="{{ booking.class_type_id }}">
                            <input type="hidden" name="travel_detail_id" value="{{ booking.travel_detail_id }}">
                            <button type="submit" class="btn btn-sm btn-primary">Book</button>
                        </form>
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
            </div>

        </div>

    </div>
</div>

{% endblock %}