{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="row le-hide">

        <div class="col-lg-12">
            <div class="m-0 row p-3">
                <div class="col-md-3 col-lg-2 p-0">
                    <strong class="pl-lg-2"> Class</strong>
                </div>
                <div class="col-sm-12 col-lg-3 p-0 pl-lg-5">
                    <strong> Deaprture</strong>
                </div>
                <div class="col-sm-12 col-lg-3 p-0 pl-lg-5">
                    <strong>Arrival</strong>
                </div>
                <div class="col-sm-12 col-lg-3 p-0 pl-lg-5">
                    <strong>Price</strong>
                </div>

            </div>
        </div>


    </div>
    <div class="row">

        {% for booking in bookings  %}

        <div class="col-sm-4 col-lg-12 mt-2">
            <div class="col-sm-4 col-lg-12 mt-2 mb-2">
                <div class="m-0 row row-container bg-white p-3">
                    <div class="col-md-3 col-lg-2 p-0 pl-lg-2">
                        <h5>{{ booking.class_type }}</h5>
                    </div>
                    <div class="col-sm-12 col-lg-3  p-0 p-0 pl-lg-5">
                        <h5 class="">{{ booking.departure_location }}</h5>
                        <h6>{{ booking.departure_time }}</h6>
                    </div>
                    <div class="col-sm-12 col-lg-3 p-0 p-0 pl-lg-5">
                        <h5>{{ booking.arrival_location }}</h5>
                        <h6>{{ booking.arrival_time }}</h6>
                    </div>
                    <div class="col-sm-12 col-lg-3 p-0 p-0 pl-lg-5 d-flex">
                        <span class="spn-price ">from</span>
                        <div class="">

                            <h6>{{ booking.discounted_cost }}</h6>

                            <span class="spn-price" style="text-decoration: line-through;">{{ booking.cost }}</span>
                        </div>
                        <div class="btn1">
                            <a href="" class="btn btn-sm btn-primary" >Book</a>
                        </div>
                    </div>
                </div>
        {% endfor %}
    </div>

</div>




</div>
</div>

{% endblock %}