{% extends "base.html" %}

{% block content %}
<script>
	function updateArrivalOptions() {
		// get the selected value from the departure dropdown
		var departureValue = $('#from').val();

		// loop through each option in the arrival dropdown
		$('#to option').each(function () {
			// if the option's value matches the selected value in the departure dropdown,
			// remove the option from the dropdown
			if ($(this).val() == departureValue) {
				$(this).hide();
			} else {
				$(this).show();
			}

		});
	}
</script>
<div class="container di mt-5">
	<div class="row">
		<div class="col-12">
			<form action="{{ url_for('Records.get_records') }}" method="post">
				<div class="">
					<div class="radio-btn" required>
						{% for travel_type in travel_types %}
						<div class="form-check">
							<input name="travel_type" class="form-check-input" type="radio" value="{{ travel_type }}"
								id="flexRadioDefault{{loop.index}}" checked>
							<label class="form-check-label" for="flexRadioDefault{{loop.index}}">
								{{ travel_type }}
							</label>
						</div>
						{% endfor %}
					</div>
					<div class=" ">
						<label class="label1" for="From">From</label>
						<select id="from" class="inp1" name="departure">
							{% for location in departure_locations %}
							<option value="{{ location }}">{{ location }}</option>
							{% endfor %}
						</select>

						<label class="label1" for="From">To</label>
						<select id="to" class="inp1" name="arrival">
							{% for location in arrival_locations %}
							<option value="{{ location }}">{{ location }}</option>
							{% endfor %}
							<script>
								updateArrivalOptions();
							</script>
						</select>

						<button class="btn btn-primary form-btn" type="submit">Search</button>
					</div>

				</div>
			</form>
		</div>
	</div>
</div>
<script>
	$(document).ready(function () {
		$('#from').change(updateArrivalOptions);
	});
</script>
{% endblock %}